@import "~bootstrap/scss/bootstrap";

header a {
    text-decoration: none;
    padding: 0.3rem 0.6rem;
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
    transition: all .5s;

    &:hover {
        background-color: rgb(255, 255, 255);
    }
}


table td, table th {
    vertical-align: middle;
}
